<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724850726022-84o3g21hs6mv1348jogub4q902v9l87t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724850726022-84o3g21hs6mv1348jogub4q902v9l87t</string>
	<key>API_KEY</key>
	<string>AIzaSyA0dgovbt_y6tWPkMPc1Quyorz1DKrCRis</string>
	<key>GCM_SENDER_ID</key>
	<string>724850726022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bo.tierdev.noveles</string>
	<key>PROJECT_ID</key>
	<string>noveles-44eb9</string>
	<key>STORAGE_BUCKET</key>
	<string>noveles-44eb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724850726022:ios:485aea19f556dc1a9fad07</string>
	<key>DATABASE_URL</key>
	<string>https://noveles-44eb9-default-rtdb.firebaseio.com</string>
</dict>
</plist>